$color: #00C99C;
$black: #151806;
$white: white;
// $bgColor: #ebf0f0;
$bgColor: #F6F8FA;
$lightBlack: #8F8F8F;
$orange: #FD6179;
$blue: #1f7ae2;

$purple: #5142FC;


$background-color: #14141F;

$font-color-main: $white;
$font-color-hover: $purple;
$font-size: 16px;

$button-bg-color: #14141F;
$button-bg-color-purple: $purple;
$button-bg-color-hover: $white;
$button-border-color: $purple;

$card-bg-color: #343444;

