// Font Import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap|Audiowide|Hurricane&effect=fire');


@font-face {
    font-family: 'Dinosaur';
    src: url('./assets/font/Dinosaur.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/font/Helvetica/Helvetica.ttf');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('./assets/font/Helvetica/Helvetica-Bold.ttf');
}

@font-face {
    font-family: 'Hurricane';
    src: url('./assets/font/Hurricane/HurricanePro.ttf');
}

$font: 'Open Sans';
$font2: 'Helvetica';

$font-nobly: 'Helvetica';

h1, h2, h3 {
    font-weight: 700;
}
