.nobly {
    button {
        background: $button-bg-color;
        border: 6px solid $button-border-color;
        box-shadow: 0px 1px 0px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px 46px;
        display: inline-block;
        text-align: center;
        font-size: 48px;
        font-family: $font;
        color: #fff;
        -webkit-text-stroke: 4px $purple;
        cursor: pointer;
    }
}


.element-box-inner {
    button {
        background-color: $button-bg-color-purple;
        border:  2px solid $button-border-color;
        border-radius: 40px;
        padding: 10px 80px;
        margin: 0px 0px 0px 0px;
        display: inline-block;
        text-align: center;
        font-size: 30px;
        font-family: $font;
        font-weight: bold;
        color: $white;
        cursor: pointer;
    }

    button:hover {
      border:  3px solid #5142FC;
      background-color: $white;
      color: $font-color-hover;
    }
    
    button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
}

.connect-box {
    button {
        padding: 8px 35px 8px 32px;
        background: transparent none repeat scroll 0 0;
        border:  2px solid #5142FC;
        border-radius: 40px;
        font-family: $font;
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.3s ease;

    }
    button:hover {
      background: #FFFFFF;
      color:#5142FC;
    }
    &.disconnected {
      button {
        position: relative;
        padding-left: 50px;
        &::after {
          content: '';
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 3px solid $white;
          background-color: #5142FC;
        }
      }
    }
}


button.highlight {
    background-color: #FFA035;
    border: 5px solid #D0410A;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 15px;
    font-family: $font;
    color: white;
    overflow: hidden;
}
