.index {
    padding-top: 80px;
    padding-bottom: 154px;
    box-sizing: border-box;

    &-header {
        padding-bottom: 70px;

        h3 {
            font-family: 'Dinosaur';
            font-size: 60px;
            line-height: 84px;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 20px;
            font-family: 'Helvetica';

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.card {
    background-color: $--primary-card-bg-color;
    box-shadow      : 0px 3px 16px rgba(47, 83, 109, 0.12);
    border-radius   : 20px;
    padding         : 15px;
    max-width       : 400px;
    margin-left     : auto;
    margin-right    : auto;

    font-family     : $font-nobly!important;

    &.dino-card {
      max-width: 380px;
      margin: 0 auto 30px;
    }
    &-content-header, &-img {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        // border-radius: 30px 30px 10px 10px;
        // margin-bottom: 20px;
    }


    &-content {
        // padding: 0 20px;
        padding: 0 5px;

        &-header {
          align-items: center;
          text-align: center;
            span {
                height: 37px;
                width: 37px;
                border-radius: 50%;
                line-height: 37px;
                font-size: 16px;
                color: #fff;
                display: inline-block;
                background-color: #32173E;
                text-align: center;
                margin-right: 10px;
            }

            h4 {
                // font-family: Dinosaur;
                font-style: normal;
                font-weight: normal;
                // font-size: 30px;
                line-height: 42px;
                color: #000000;
                display: inline-block;
                align-self: center;
            }
        }

        .tag-list {
            margin-top: 18px;
            display: flex;
            flex-wrap: wrap;
            &-item {
                display: inline-block;
                margin-right: 7px;
                margin-bottom: 10px;
                border: 2px solid #000;
                border-radius: 10px;
                font-size: 16px;
                padding: 8px 13px;
                text-transform: uppercase;
                span {
                  height: 23px;
                  width: 23px;
                  line-height: 23px;
                  border-radius: 50%;
                  font-size: 16px;
                  color: #fff;
                  background-color: #000;
                  margin-left: 5px;
                  display: inline-block;
                  text-align: center;
                }
                a {
                    padding: 6px 10px 9px 13px;
                    font-family: 'Dinosaur';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    border: 2px solid #000000;
                    display: inline-block;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    text-decoration: none;
                }
            }
        }

        .author {
            .avatar {
                width: 44px;
                height: 44px;
                border-radius: 15px;
                margin: 0;
                padding: 0;
                img {
                    height: auto;
                    max-width: 100%;
                    vertical-align: middle;
                    // border-radius: 5px1;
                    width: 100%;
                    /* height: 100%; */
                    border-radius: 5px;
                }
    
                .content-text {
                    cursor: pointer;
                }
            }
        }

        .content-left {
            text-align: left;
        }

        .content-right {
            text-align: right;
        }

        .content-text-bold {
            font-weight: bold;
        }

        .content-text {
            font-size: 15px;
        }        

        .content-text-tip {
            font-size: 13px
        }
    }
}

.index-right-img {
    margin-left: 0px;
}

.dinos {

    .btn-footer {
        display: block;
        text-align: center;
        margin-top: 154px;
    }

}

.nobly {
    font-family: $font-nobly;
    color: white;

    .item-details {

        &-left {
            padding-right: 30px;
        }

        &.right {
            padding-left: 30px;
        }

        .item-img {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
                -ms-flex-align: start;
                    align-items: flex-start;     
            margin: 0;
            padding: 0;
            max-width: 100%;
            
            img {
                width: 100%;
            }
        }

        .item-contents {

            .item-title {
                h2 {
                    margin-bottom: 18px;
                    line-height: 40px;
                }
            }

            .item-infor {
                .item-owner {
                    .author {
                        display: flex;
                        align-items: center;
                        .avatar {
                            width: 44px;
                            height: 44px;
                            border-radius: 20px;
                            margin-right: 15px;

                            img {
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            .item-desc {
                p {
                    font-size: 14px;
                    line-height: 22px;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0px;
                    text-align: justify;
                }
            }

            .item-price {                
                .heading {
                    font-weight: bold;
                }
                h5 {
                    margin: 0;
                }
                .price, .count-down {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 20px;

                    .price-box {
                        display: flex;
                        align-items: center;

                        h5 {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }               
                
            }

            .meta-info {
                background-color: $--primary-card-bg-color;
                border-radius: 10px;
                padding: 5px 10px;
                .row {
                    align-items: center;
                }
            }

            .nobly-button {
                display: block;
                text-align: center;
                padding: 12px 40px;
                margin-bottom: 23px;
                border: 2px solid white;
                border-radius: 30px;
                color: white;
                font-weight: bold;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }

            .item-attr {
                .header {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .item-option {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 16px;
                }
            }
            
        }
    }
}




@media(max-width:575px) {
    .banner-content {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .connect-box {
        position: unset;
        padding-top: 50px;
    }

    .banner .content-top h5 {
        font-size: 50px;
        -webkit-text-stroke: 3px #fff;
    }

    .banner .content-top h3 {
        font-size: 20px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #fff;
    }

    .banner .element img {
        width: 300px;
    }

    .banner .element {
        // -webkit-column-gap: 61px;
        // -moz-column-gap: 61px;
        column-gap: unset;
        margin-top: 31px;
        text-align: center;
        display: block;
    }

    .index-header h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .index-header p {

        font-size: 16px;
        line-height: 24px;
    }

    .index-right-img {
        margin-left: 0px;
    }

    .index {
        padding-top: 40px;
        padding-bottom: 44px;
        box-sizing: border-box;
    }

    .index-header {
        padding-bottom: 20px;
    }

    .card {
        margin: 15px auto;
    }

    .card-content .tag-list-item {
        padding: 6px 10px 9px 9px;
    }

    .dinos button {
        border: 4px solid #D0410A;
        padding: 5px 28px;
        font-size: 25px;
        -webkit-text-stroke: 2px #D0410A;
    }

    .dinos .btn-footer {
        display: block;
        text-align: center;
        margin-top: 54px;
        margin-bottom: 54px;

    }

    .card-content-header h4 {
        font-size: 16px;
    }

    .card-content .tag-list-item span {
        font-size: 14px;
        margin-left: 0px;
    }

    .card-content .tag-list-item {
        padding: 5px 10px;
        font-size: 12px;
    }

    .banner .element-box p {
        font-size: 18px;

    }

    .connect-box button {
        padding: 8px 30px;
        font-size: 18px;

    }

    .connect-box span {
        font-size: 15px;

    }
}

@media(min-width:576px) and (max-width:767px) {
    .banner-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .banner .content-top h5 {
        font-size: 70px;
        -webkit-text-stroke: 4px #fff;
    }

    .banner .content-top h3 {

        font-size: 40px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #fff;
    }

    .banner .element {

        display: block;
    }

    .banner .element-box p {

        font-size: 20px;

    }

    .connect-box button {
        padding: 10px 35px;
        font-size: 22px;

    }

    .connect-box span {
        font-size: 16px;

    }

    .index-header h3 {

        font-size: 40px;
    }

    .index-header p {
        font-size: 22px;
    }

    .index-right-img {
        margin-left: 0px;
        margin-top: 10px;
    }

    .index {
        padding-top: 40px;
        padding-bottom: 44px;
        box-sizing: border-box;
    }

    .index-header {
        padding-bottom: 20px;
    }

    .card {
        margin: 15px auto;
    }

    .dinos button {
        border: 2px solid #D0410A;
        padding: 10px 30px;
        font-size: 30px;
    }

    .dinos .btn-footer {

        margin-top: 50px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .connect-box {
        position: unset;
        margin-top: 60px;
    }

    .banner .element {
        display: block;
    }

    .index-right-img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .index {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .card {
        margin: 20px auto;
    }

    .dinos button {
        background: #FFA035;
        border: 5px solid #D0410A;
        padding: 12px 30px;
        font-size: 38px;
        -webkit-text-stroke: 3px #D0410A;

    }

    .dinos .btn-footer {

        margin-top: 54px;
    }
}

@media(min-width:992px) and (max-width: 1300px) {
    .connect-box {
        position: unset;
        padding-top: 70px;
    }
}

@media(min-width:1301px) {
    .connect-box {
        position: unset;
        padding-top: 70px;
    }
}